@charset "utf-8";

/*--------------------------------------------------------------------------------------------------------------------
    header
---------------------------------------------------------------------------------------------------------------------*/
/* .gnb_box {
  position: fixed;  top:0; right:-300px; z-index: 2000;
  width: 80%; max-width: 280px;  height:100vh; padding:0 27px ;
  background-color: #0a0a0a;   text-align: left;
  flex-direction: column; align-items: flex-start;
  display:none;
}
.gnb_box ul {  flex-direction: column;  color:white;  line-height: 2;  position: relative;}
.gnb_box i {
  display: block;  font-size: 24px; color:#9EBB3A;
  position:absolute;  top:40px; right:10px;  z-index: 1000;
}
.gnb_box i:hover {  cursor: pointer; }

.gnb_box .gnb_menu {
  position: relative;  top:12%;
  margin:0; width:100%;   padding-bottom:10px;  border-bottom: 1px solid #9EBB3A;
}
.gnb_box .gnb_utill {  top:13%;  color:white; font-size: 16px;}
.gnb_box .gnb_utill li:first-child::after {  content:none; }
.gnb_search li:first-child:active i {
  font-size:16px; color:#9EBB3A;  transform:translateY(5px) translateX(-20px) ;
}

.gnb_search {margin: 0;}
.gnb_search .menu_tap { display:inline-block;  }
.gnb_search .menu_tap i::after { 
  content: ""; width:36px; height:36px; background-color: #9EBB3A; border-radius: 50%;
  position:absolute; top:5px; right:10px; z-index: -1;
}

*/

.bg_box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(10, 10, 10, 0.2);
  display: none;
}

.navbar {
  /* display: none; */
  right: -100%;
}

.navbar {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 150;
  width: 40%;
  height: 100vh;
  background-color: #0a0a0a;
  flex-direction: column;
  align-items: flex-start;
  padding: 130px 30px 0;
  transition: 0.6s;
}

.navbar .gnb_menu,
.navbar .gnb_utill {
  flex-direction: column;
  text-align: left;
  color: #fff;
  width: 100%;
}

.navbar .gnb_menu li,
.navbar .gnb_utill li {
  margin-bottom: 12px;
}

.navbar .gnb_menu {
  border-bottom: 1px solid #9ebb3a;
}

.navbar .gnb_utill {
  margin-top: 20px;
}

.navbar .gnb_utill li:first-child::after {
  content: none;
}

.navbar i {
  display: block;
  font-size: 24px;
  color: #9ebb3a;
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}

nav.on {
  right: 0;
}

.gnb_search {
  margin: 0;
}
.gnb_search .menu_tap {
  display: inline-block;
}
.gnb_search .menu_tap i::after {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #9ebb3a;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: -1;
}

/*--------------------------------------------------------------------------------------------------------------------
    main
---------------------------------------------------------------------------------------------------------------------*/
.main_point h2 {
  padding-top: 45px;
  font-size: 38px;
}
.main_point h2::after {
  width: 100%;
}

.main_point .keywords li {
  width: 30%;
  max-width: 288px;
}
.main_point .keywords figure figcaption {
  font-size: 20px;
}

.main_banner h2 {
  font-size: 26px;
}
.main_banner h2 span {
  display: block;
}
.main_banner h2:after {
  bottom: 50px;
  left: 540px;
}
.main_banner h2:before {
  bottom: 50px;
  right: 600px;
}

.main_contents h2 {
  font-size: 32px;
  margin-top: 60px;
}
.main_contents h2::after {
  width: 440px;
}
.main_contents .contents_menu {
  font-size: 18px;
}
.main_contents .contents_list {
  justify-content: space-around;
}
.main_contents .contents_list li {
  width: 33.3333%;
  max-width: 250px;
  padding: 0 0 65px;
}

/*--------------------------------------------------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------------------------------------------------*/
footer address {
  width: 135px;
}
