@charset "utf-8";

.wrapper {  background: none; }
.wrap {  max-width:100%; padding:0 30px; }

/***** header *****/
header { height:60px; }
.wrapper h1 { width:60px; }

.wrapper .gnb_box i {  top:20px; }
.wrapper .gnb_box .gnb_menu {  font-size: 18px;  top:8%; }
.wrapper .gnb_box .gnb_utill {  top:9%; }

.wrapper .gnb_search i {  font-size: 16px;  padding-left: 21px;}
.wrapper .gnb_search .search_tap:hover i {  font-size: 12px;  transform:translateY(2px) translateX(-18px) ;}
.wrapper .gnb_search .search_tap input {  
  width:20px; height:20px; top:8px; right:8px; 
  font-size: 10px; text-indent: 5px;
} 

.wrapper .gnb_search .search_tap:hover input {  width: 190px; }

.wrapper .gnb_search .menu_tap i::after {  width:22px; height:22px; top:8px; right:5px; }


/***** main *****/
main { padding-top:60px;}

.main_point .wrap > img {  display: none;}

.wrapper .main_point { height:auto; }
.wrapper .main_point h2 {  padding-top: 34px;  font-size: 20px;}
.wrapper .main_point h2::after {  width:100%;}

.wrapper .main_point .keywords { margin-top: 48px; align-items: center; position: relative; max-width: 425px; }
.wrapper .main_point .keywords { max-width: 400px;}
.wrapper .main_point .keywords li:nth-of-type(even) {  display: none;}
.wrapper .main_point .keywords .key_items { width:100%; margin: 0 auto; }
.wrapper .main_point .keywords figure figcaption { font-size: 18px; }

.wrapper .main_point .keywords .slider { display:block;  }
.wrapper .main_point .keywords .slider i {  font-size: 30px; color:#9EBB3A; position: absolute;  }
.wrapper .main_point .keywords .slider i.fa-angle-left { top:40%; transform: translateY(-50%); left:0; }
.wrapper .main_point .keywords .slider i.fa-angle-right { top:40%; transform: translateY(-50%); right:0;}

.wrapper .main_point .circle_swipe {  display:flex; justify-content: space-between;  width:54px; padding:20px 0 45px;}
.wrapper .main_point .circle_swipe span {   width:10px; height: 10px; border-radius: 50%; background-color: #ddd;}
.wrapper .main_point .circle_swipe span.active {  background-color: #9EBB3A;}


.wrapper .main_banner h2 {  font-size: 20px; }
.wrapper .main_banner h2:after { display:none; }
.wrapper .main_banner h2:before {bottom:110px; left:50%; transform: translateX(-50%);}
.wrapper .main_banner h2 br { display:block;}
.wrapper .main_banner h2 span {display: inline;}


.wrapper .main_contents h2 {  font-size: 18px; margin-top:32px;}
.wrapper .main_contents h2::after {  width:100%; margin: 3px 0 0; border-bottom-width: 2px;}

.wrapper .main_contents .contents_menu {  font-size: 16px;  margin-top: 50px; width:100%; font-size: 14px; }
.wrapper .main_contents .contents_menu li {  padding-right: 20px;}
.wrapper .main_contents .contents_menu li:last-child {padding:0;}
.wrapper .main_contents .contents_menu li:first-child:after {  margin-top: 3px; border-bottom-width: 2px;}

.wrapper .main_contents .contents_list {  max-width:400px; padding:32px 0 0; margin: 0 auto;}
.wrapper .main_contents .contents_list li { width:48%; max-width: 160px; padding-bottom: 35px;  }
.wrapper .main_contents .contents_list li:hover .img_cover {  background-color:transparent; z-index: 0;}

.wrapper .main_contents .contents_list li figure figcaption { font-size: 14px; }
.wrapper .main_contents .contents_list li figure figcaption span {display:block;}
.wrapper .main_contents .contents_list li figure .figure_img {  width:100%;  padding-bottom: 100%; }
.wrapper .main_contents .more_btn {  width: 148px; height: 45px; font-size: 12px;  margin-bottom: 50px;}


.wrapper .up_btn #move_up_btn {  width:32px; height:32px;}
.wrapper .up_btn #move_up_btn img {  width:21px; height:13px;}


/***** footer *****/
.wrapper footer {   font-size: 12px;}
.wrapper footer .wrap {  padding:20px 0; max-width: 82.6086%; }
.wrapper footer address {width:136px;}
.wrapper footer p span { display: inline-block;}

